// Définition de la variable "fa-font-path" nécessaire au chargement des fichiers de font de FA
// Comme elle est déclarée en premier, c'est cette valeur qui sera utilisée
// et non celle définie dans le code source de FA
$fa-font-path: '/../node_modules/font-awesome/fonts';

// COLORS

$redmarvel: #ED3C22;
$customgrey: #95999A;

// BREAKPOINTS

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

// FONTS

$main-font: 'Marvel', sans-serif;
$font-fallback: 'Kufam', cursive;


