.footer {
    background-color: $customgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-top: 2em;
    a {
        color: rgb(78, 78, 78);
    }
}

.social-nav {
    width: 5em;
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    i {
        text-decoration: none;
        color: white;
        font-size: large;
    }
}

.copyright {
    text-align: center;
    color: white;
    &__title {
        font-size: small;
    }
    &__text {
        font-size: xx-small;
    }
}