.header {
    background-color: $redmarvel;
    padding: 0.5em;
    color: white;
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    }
        a {
            color: white;
    }
}