// TODO

.main-nav {
    display: flex;
    align-items: center;
    ul {
        display: flex;

        a {
            font-weight: bold;
            text-decoration: none;
            margin-left: 2em;
        }
    }
}