.title {
    background-image: url('../../src/images/marvel-blog-title.jpg');
    background-position: center;
    color: white;
    padding: 4em;
    text-align: center;
    h1 {
        font-weight: bold;
        font-size: xx-large;
        display: block;
        margin-bottom: 0.2em;
    }
    p {
        font-size: small;
    }

}



