@charset 'UTF-8';

@import 
  'abstracts/vars';

@import 
  '~reset-css/sass/reset',
  '~font-awesome/scss/font-awesome';

@import
  'base/typo';

@import
  'layout/body',
  'layout/header',
  'layout/footer',
  'layout/nav',
  'layout/article';
